*.o
*~
*.c
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
*.substvars
*.debhelper*
autoreconf.*
depcomp
install-sh
libtool
ltmain.sh
missing
src/wago-popup-dict
src/wago_popup_dict_vala.stamp
stamp-h1
