#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Version=1.0
Comment=wago translator
Type=Application
Name=Wago-popup-dict
Exec=wago_popup_dict
Icon=wagodict_icon
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Application;Utility;
Name[de_DE]=Wago-popup-dict
