[Desktop Entry]
Version=1.0
Comment=wago translator
Type=Application
Name=Wago-popup-dict
Exec=wago-popup-dict
Icon=wagodict_icon
StartupNotify=true
Terminal=false
Categories=GNOME;Application;Utility;
